Repository SCE-Development/Clark, pull requests merged in 2019-12, with the labels that each got.

#116 Refactored Server.js to Close MongoDB Connection
  server.js
  test/3DPrintingForm.js
  test/frontend/App.test.js
  test/user.js
Labels: API, Testing, bug

#117 Updated TravisCI Script
  .travis.yml
  _deprecated_util/.oldtravis.yml
  package.json
  server.js
  src/Pages/Login/Login.js
  test/3DPrintingForm.js
  test/user.js
Labels: Testing

#138 Added Event API
  api/index.js
  api/models/Event.js
  api/routes/event.js
  test/Event.js
Labels: API

#143 Changed id Field to email for 3D Printing
  api/models/PrintingForm3D.js
  api/routes/3DPrintingForm.js
  src/Pages/3DPrinting/app3DPrintForm.js
  src/Pages/3DPrintingConsole/app3DConsole.js
  test/3DPrintingForm.js
Labels: API, Front End, Testing

#149 Added util/testing-utils/Tools.js that has a reusable delete schema
  test/3DPrintingForm.js
  test/Event.js
  test/user.js
  util/testing-utils/tools.js
Labels: API, Testing

#146 Added API schema, model, and routing for Officer Manger
  api/index.js
  api/models/OfficerManager.js
  api/routes/officerManager.js
  src/App.js
  src/Pages/OfficerDB/App.css
  src/Pages/OfficerDB/App.js
  test/frontend/OfficerDB.test.js
  test/officerManager.js
Labels: API, Testing

#155 Now follows naming conventions
  test/frontend/OfficerDB.test.js
Labels: Testing

#153 fixing minor css bugs
  src/Pages/3DPrinting/app3DPrintForm.js
  src/Pages/MembershipPlan/App.css
Labels: bug

#159 Abstracted Server Initialization and Termination
  test/3DPrintingForm.js
  test/Event.js
  test/officerManager.js
  test/user.js
  util/testing-utils/tools.js
Labels: API, Refactoring, Testing, enhancement

#156 Added Hooks to Carousel
  .bash_aliases.swp
  src/Components/Slideshow/Slideshow.css
  src/Components/Slideshow/Slideshow.js
Labels: Front End, Refactoring, enhancement

#165 added delete token for officer api
  api/routes/officerManager.js
  src/Pages/3DPrintingConsole/app3DConsole.js
Labels: API, bug, enhancement

#173 Made Login Component Functional
  src/Pages/Login/Login.js
  src/Pages/Login/LoginInput.js
Labels: Front End, Refactoring

#177 enum file
  src/Enums.js
Labels: Refactoring, enhancement

#181 Added Replacement Navbars
  src/Components/Navbar/AdminNavbar.js
  src/Components/Navbar/NavBarWrapper.js
  src/Components/Navbar/UserNavbar.js
  src/Components/Navbar/admin-navbar.css
  test/frontend/AdminNavbar.test.js
  test/frontend/NavBarWrapper.test.js
  test/frontend/UserNavbar.test.js
Labels: Front End, enhancement

#179 Membership profile for admin's user dashboard
  src/Pages/Profile/admin/AdminView.jsx
  src/Pages/Profile/admin/EditorForm.js
  src/Pages/Profile/admin/Profile.js
  test/frontend/AdminView.test.js
  test/frontend/EditorForm.test.js
  test/frontend/Profile.test.js
Labels: API, Front End, Testing

#171 Refactored Routing + Navbar Rendering
  src/App.js
  src/Components/Dashboard/Dashboard.js
  src/Components/Dashboard/dashboard.css
  src/Components/Layout/Layout.js
  src/Components/Navbar/AdminNavbar.js
  src/Components/Navbar/NavBar.js
  src/Components/Navbar/NavBarWrapper.js
  src/Components/Navbar/UserNavbar.js
  src/Components/Navbar/admin-navbar.css
  src/Components/Navbar/user-navbar.css
  src/Components/Routing/PrivateRoute.js
  src/Pages/2DPrinting/App.js
  src/Pages/3DPrinting/app3DPrintForm.js
  src/Pages/3DPrintingConsole/app3DConsole.js
  src/Pages/Admin/Admin.js
  src/Pages/Events/announcements/announcementsPage.jsx
  src/Pages/Home/Home.js
  src/Pages/LabKits/App.js
  src/Pages/Login/Login.js
  src/Pages/MembershipApplication/membershipApplication.jsx
  src/Pages/TheGear/App.js
  src/Pages/TheTeam/App.js
  src/Routing.js
  src/index.js
  test/frontend/AdminNavbar.test.js
  test/frontend/App.test.js
  test/frontend/Routing.test.js
  test/frontend/UserNavbar.test.js
  test/mocks/react-router-dom.js
Labels: Front End, Refactoring, enhancement
