Repository SCE-Development/Clark, pull requests merged in 2020-09, with the labels that each got.

#586 Redesigned Profile Page
  package-lock.json
  package.json
  public/index.html
  src/Pages/Profile/MemberView/ChangePassword.js
  src/Pages/Profile/MemberView/InfoCard.js
  src/Pages/Profile/MemberView/PrintRequest.js
  src/Pages/Profile/MemberView/Profile.js
  src/Pages/Profile/MemberView/Profile.jsx
  src/Pages/Profile/MemberView/profile-modifier.css
  test/frontend/UserProfile.test.js
Labels: Front End

#547 New Event Page Design
  api/util/constants.js
  package-lock.json
  src/APIFunctions/Event.js
  src/Pages/EventManager/EventManager.js
  src/Pages/EventManager/EventManagerModal.js
  src/Pages/Events/EventCard.js
  src/Pages/Events/EventInfoModal.js
  src/Pages/Events/event-page.css
  test/frontend/EventCard.test.js
  test/frontend/EventInfoModal.test.js
Labels: Front End, Refactoring

#620 Fixing Minimization Error In Dark Mode
  src/Components/Navbar/UserNavbar.js
  src/Components/Navbar/navbar.css
Labels: Front End, enhancement

#632 Nginx Application
  .gitignore
  api/util/SceHttpServer.js
  nginx.conf
  package.json
Labels: API, enhancement, security

#633 Fixes RESTful calls in src/apiFunctions
  api/cloud_api/util/auth.js
  api/config/config.example.json
  nginx.conf
  src/APIFunctions/2DPrinting.js
  src/APIFunctions/3DPrinting.js
  src/APIFunctions/Auth.js
  src/APIFunctions/ErrorLog.js
  src/APIFunctions/Event.js
  src/APIFunctions/GoogleSheets.js
  src/APIFunctions/LedSign.js
  src/APIFunctions/Mailer.js
  src/APIFunctions/S3Bucket.js
  src/APIFunctions/User.js
  src/Pages/MembershipApplication/VerifyEmail.js
  src/config/config.example.json
Labels: API, Refactoring, enhancement, security
