Repository SCE-Development/Clark, pull requests merged in 2020-02, with the labels that each got.

#255 Fixed Signed Out Bug
  src/APIFunctions/User.js
Labels: bug

#256 Fixed setup script bug
  setup.sh
Labels: bug

#254 Fixes OverviewBoard's update bug + Refactored OverviewBoard
  api/routes/user.js
  src/APIFunctions/User.js
  src/Pages/Overview/Overview.css
  src/Pages/Overview/Overview.js
  src/Pages/Overview/OverviewProfile.js
  src/Pages/Profile/MemberView/InfoCard.js
  src/Pages/Profile/admin/AdminView.jsx
  src/Pages/Profile/admin/EditorForm.js
  src/Pages/Profile/admin/Profile.js
  test/frontend/Profile.test.js
  test/user.js
Labels: API, Front End, Refactoring, bug, enhancement

#283 Disable login for banned users
  api/routes/user.js
Labels: API

#285 Removing MembershipPlan in Overview's Dashboard
  src/Pages/Overview/Overview.js
  src/Pages/Overview/OverviewProfile.js
  test/frontend/Overview.test.js
Labels: bug

#290 Fixed Print Count Endpoint
  api/routes/user.js
Labels: API, bug

#293 Added a Schema for Errors
  api/models/ErrorLog.js
Labels: API, enhancement

#295 Add Sign Log Schema
  api/models/SignLog.js
Labels: API, enhancement

#300 Added LICENSE File
  LICENSE
Labels: enhancement

#309 Revert "Added home button to admin navbar, refactor test-cases"
  src/Components/Navbar/AdminNavbar.js
  test/frontend/AdminNavbar.test.js
Labels: bug

#317 Changed the color of the select major button on sign up page
  src/Pages/MembershipApplication/MajorDropdown.js
  src/Pages/MembershipApplication/MembershipForm.js
  src/Pages/MembershipApplication/register-page.css
Labels: Front End, enhancement

#323 Created Frontend Test Cases for RequestForm
  test/frontend/RequestForm.test.js
Labels: Front End, Testing

#305 Fixed quotation marks and commented out 'SCE Team'
  src/Components/Navbar/AdminNavbar.js
  src/Components/Navbar/UserNavbar.js
  test/frontend/UserNavbar.test.js
Labels: Front End, Refactoring, bug

#321 Added confirmation modal
  src/Components/DecisionModal/ConfirmationModal.js
  test/frontend/ConfirmationModal.test.js
Labels: Front End, Refactoring, enhancement

#324 Add Homebutton to Admin Navbar
  src/Components/Navbar/AdminNavbar.js
  test/frontend/AdminNavbar.test.js
Labels: Front End, Refactoring

#330 Remove &nbsp from UserNavbar
  src/Components/Navbar/UserNavbar.js
Labels: Front End, bug
