Repository SCE-Development/Clark, pull requests merged in 2020-01, with the labels that each got.

#178 Overview for member dashboard
  api/routes/user.js
  src/Pages/MembershipPlan/App.css
  src/Pages/Overview/Overview.css
  src/Pages/Overview/Overview.js
  src/Pages/Overview/OverviewProfile.js
  src/Pages/Overview/SVG.js
  src/index.js
  test/frontend/MemberDashboard.test.js
  test/frontend/Overview.test.js
  test/user.js
Labels: API, Front End, Refactoring, Testing, enhancement

#188 Refactored User Navbar to Use Hooks
  src/Components/Navbar/UserNavbar.js
Labels: Front End, Refactoring

#185 changed file names from app.js and app.css to specify location
  src/Components/Benefits/Benefits.js
  src/Components/Benefits/benefits.css
  src/Components/Calendar/Calendar.js
  src/Components/Footer/Footer.js
  src/Components/Footer/footer.css
  src/Components/Jumbotron/Jumbotron.js
  src/Components/Slideshow/Slideshow.js
  src/Components/Slideshow/slideshow.css
  src/Pages/2DPrinting/2DPrinting.js
  src/Pages/3DPrinting/app3DPrintForm.js
  src/Pages/3DPrintingConsole/app3DConsole.js
  src/Pages/Home/Home.js
  src/Pages/Home/home.css
  src/Pages/LabKits/LabKits.js
  src/Pages/Login/Login.js
  src/Pages/Login/login.css
  src/Pages/MembershipApplication/membershipApplication.jsx
  src/Pages/MembershipPlan/MembershipPlan.js
  src/Pages/MembershipPlan/membership-plan.css
  src/Pages/OfficerDB/OfficerDB.js
  src/Pages/OfficerDB/officer-db.css
  src/Pages/TheGear/TheGear.js
  src/Pages/TheGear/the-gear.css
  src/Pages/TheTeam/TheTeam.js
  src/Pages/TheTeam/the-team.css
  src/Routing.js
  test/frontend/OfficerDB.test.js
  test/frontend/Routing.test.js
Labels: Refactoring, enhancement

#190 Added Status Code Constants & Token Functions
  api/constants.js
  test/TokenFunctions.js
  util/api-utils/token-functions.js
Labels: API, Testing, enhancement

#191 Abstracted Server Responses & Token Verification
  api/routes/3DPrintingForm.js
  api/routes/event.js
  api/routes/officerManager.js
  api/routes/print.js
  api/routes/user.js
  src/Components/Navbar/UserNavbar.js
  test/3DPrintingForm.js
  test/Event.js
  test/officerManager.js
  test/user.js
Labels: API, Refactoring

#203 Removing Console.log() Statements from Test
  src/Components/Navbar/UserNavbar.js
  src/Pages/Overview/Overview.js
Labels: Testing, bug

#199 changed init email value
  src/Pages/Profile/admin/AdminView.jsx
Labels: bug

#180 Member Profile
  package.json
  src/Pages/Overview/Overview.js
  src/Pages/Profile/MemberView/Image/fall.jpeg
  src/Pages/Profile/MemberView/Image/spring.jpg
  src/Pages/Profile/MemberView/Image/summer.jpeg
  src/Pages/Profile/MemberView/Image/winter.jpeg
  src/Pages/Profile/MemberView/InfoCard.js
  src/Pages/Profile/MemberView/Profile.jsx
  src/Pages/Profile/MemberView/getPicBySeason.js
  src/Pages/Profile/MemberView/profile-modifier.css
  src/Pages/Profile/admin/AdminView.jsx
  src/Routing.js
  test/3DPrintingForm.js
  test/frontend/UserProfile.test.js
Labels: Front End

#208 Fixed Navbar Overflow Issue
  src/Components/Navbar/AdminNavbar.js
  src/Components/Navbar/NavBarWrapper.js
  src/Components/Navbar/UserNavbar.js
  src/Components/Navbar/admin-navbar.css
  src/Components/Navbar/navbar.css
  src/Components/Navbar/user-navbar.css
Labels: Front End, bug

#197 Refactored Membership Page
  src/Enums.js
  src/Pages/MembershipApplication/ConfrimationPage.js
  src/Pages/MembershipApplication/MajorDropdown.js
  src/Pages/MembershipApplication/MembershipForm.js
  src/Pages/MembershipApplication/MembershipPlan.js
  src/Pages/MembershipApplication/assets/fall.jpg
  src/Pages/MembershipApplication/assets/fall2.jpeg
  src/Pages/MembershipApplication/assets/spring.jpg
  src/Pages/MembershipApplication/assets/spring2.jpeg
  src/Pages/MembershipApplication/assets/summer.jpeg
  src/Pages/MembershipApplication/assets/summer2.jpeg
  src/Pages/MembershipApplication/assets/winter.jpeg
  src/Pages/MembershipApplication/assets/winter2.jpeg
  src/Pages/MembershipApplication/membershipApplication.css
  src/Pages/MembershipApplication/membershipApplication.jsx
  src/Pages/MembershipApplication/register-page.css
  src/Pages/MembershipPlan/membership-plan.css
  test/frontend/MajorDropdown.test.js
  test/frontend/MembershipApplication.test.js
  test/frontend/MembershipForm.test.js
  test/frontend/MembershipPlan.test.js
Labels: Front End, Refactoring, enhancement

#211 Abstracted 3D Print API Functions
  src/APIFunctions/3DPrinting.js
  src/Pages/3DPrinting/3DPrintForm.js
  src/Pages/3DPrintingConsole/3DConsole.js
Labels: Front End, Refactoring, enhancement

#212 Abstracted Event API Functions
  api/index.js
  api/routes/Event.js
  src/APIFunctions/Event.js
Labels: API, Refactoring, enhancement

#220 Added Icon
  public/favicon.ico
Labels: Front End, enhancement

#223 Removed LabKits Component
  src/Pages/LabKits/LabKits.js
  src/Routing.js
  test/frontend/Routing.test.js
Labels: Front End, Refactoring

#222 Removed TheGear Component
  src/Components/Navbar/UserNavbar.js
  src/Pages/TheGear/TheGear.js
  src/Pages/TheGear/card-config.css
  src/Pages/TheGear/gearPics/2018_2019/arisKoumis.png
  src/Pages/TheGear/gearPics/2018_2019/evanUgarte.png
  src/Pages/TheGear/the-gear.css
  test/frontend/UserNavbar.test.js
Labels: Front End, Refactoring

#224 Removed Unnecessary Logs on Register Page
  src/Pages/MembershipApplication/MembershipForm.js
Labels: Front End, bug

#218 Added Image URL to Event Model
  api/constants.js
  api/models/Event.js
  api/routes/3DPrintingForm.js
  api/routes/Event.js
  api/routes/officerManager.js
  api/routes/print.js
  api/routes/user.js
  src/APIFunctions/Event.js
  test/3DPrintingForm.js
  test/Event.js
  test/officerManager.js
  test/user.js
Labels: API, enhancement

#214 Added Event Page
  src/Pages/Events/EventCard.js
  src/Pages/Events/EventInfoModal.js
  src/Pages/Events/EventList.js
  src/Pages/Events/announcements/announcementsPage.css
  src/Pages/Events/announcements/announcementsPage.jsx
  src/Pages/Events/event-page.css
  src/Pages/Events/manager/eventManager.jsx
  src/Routing.js
  test/frontend/EventCard.test.js
  test/frontend/EventInfoModal.test.js
  test/frontend/EventList.test.js
  test/frontend/Routing.test.js
Labels: Front End, enhancement

#230 Removed Unused Links from Admin Navbar
  src/Components/Navbar/AdminNavbar.js
  src/Pages/Admin/Admin.js
  src/Pages/MemberManager/MemberManager.js
  src/Pages/OfficerTools/OfficerTools.js
  src/Routing.js
  test/frontend/AdminNavbar.test.js
  test/frontend/Routing.test.js
Labels: Front End, Refactoring

#225 Added Event Manager Page
  api/models/Event.js
  api/routes/Event.js
  src/APIFunctions/Event.js
  src/APIFunctions/Image.js
  src/Enums.js
  src/Pages/EventManager/EventManager.js
  src/Pages/EventManager/EventManagerModal.js
  src/Pages/EventManager/event-manager.css
  src/Pages/Events/EventCard.js
  src/Pages/Events/EventInfoModal.js
  src/Pages/Events/event-page.css
  test/Event.js
  test/frontend/EventCard.test.js
  test/frontend/EventInfoModal.test.js
  test/frontend/EventManager.test.js
  test/frontend/EventManagerModal.test.js
Labels: API, Front End, enhancement

#219 Resolved #194, Fixing global css pointers in Overview
  src/Pages/3DPrintingConsole/3DConsole.js
  src/Pages/Overview/Overview.css
  src/Pages/Overview/Overview.js
Labels: Front End, bug

#234 Viewing 3D-printing requests
  src/APIFunctions/3DPrinting.js
  src/Pages/3DPrinting/3DPrintForm.js
  src/Pages/Profile/MemberView/InfoCard.js
  src/Pages/Profile/MemberView/PrintRequest.js
  src/Pages/Profile/MemberView/Profile.jsx
  src/Pages/Profile/MemberView/profile-modifier.css
Labels: Front End, enhancement

#237 Dynamically Render Membership Plan Dates
  src/Enums.js
  src/Pages/MembershipApplication/GetPlans.js
  src/Pages/MembershipApplication/MembershipPlan.js
  test/frontend/MembershipPlan.test.js
  test/frontend/UserProfile.test.js
  test/mocks/Date.js
Labels: Front End, Refactoring

#240 Abstracted User API Calls
  src/APIFunctions/User.js
  src/Pages/Login/Login.js
  src/Pages/MembershipApplication/MembershipForm.js
  src/Pages/Overview/Overview.js
  src/Pages/Profile/MemberView/InfoCard.js
  src/Pages/Profile/MemberView/Profile.jsx
  src/Pages/Profile/admin/AdminView.jsx
  src/Routing.js
  src/index.js
Labels: API, Refactoring

#243 Added Password Strength to MembershipForm
  api/config/config.js
  api/routes/user.js
  src/Pages/3DPrinting/3DPrintForm.js
  src/Pages/MembershipApplication/MembershipForm.js
  test/3DPrintingForm.js
  test/Event.js
  test/frontend/MembershipForm.test.js
  test/officerManager.js
  test/user.js
Labels: Front End, enhancement

#244 Added Membership Enum
  api/models/User.js
  api/routes/user.js
  src/Components/Navbar/AdminNavbar.js
  src/Components/Navbar/UserNavbar.js
  src/Enums.js
  src/Pages/Overview/OverviewProfile.js
  src/Pages/Profile/admin/EditorForm.js
  src/Pages/Profile/admin/Profile.js
  src/Routing.js
  test/frontend/AdminNavbar.test.js
  test/frontend/AdminView.test.js
  test/frontend/EditorForm.test.js
  test/frontend/Overview.test.js
  test/frontend/Profile.test.js
  test/frontend/Routing.test.js
  test/frontend/UserNavbar.test.js
  test/officerManager.js
  util/mocked-data/users.js
Labels: API, Front End, Refactoring

#246 Hid 2D and 3D Printing from Nonmembers
  src/Components/Navbar/UserNavbar.js
  src/Routing.js
  test/frontend/Routing.test.js
  test/frontend/UserNavbar.test.js
Labels: Front End, bug, enhancement

#248 Added Config Environment Variable to Travis
  .travis.yml
Labels: enhancement

#250 Added script to clone printingRPC repository
  .gitignore
  .travis.yml
  setup.sh
Labels: Testing, enhancement
