Repository SCE-Development/Clark, pull requests merged in 2020-05, with the labels that each got.

#460 Fix GRPC failing
  .travis.yml
Labels: bug

#454 Refactor addErrorLog Parameters + Uniform Error Variable Names
  api/routes/3DPrinter.js
  api/routes/3DPrintingForm.js
  api/routes/ErrorLog.js
  api/routes/Event.js
  api/routes/InventoryItem.js
  api/routes/LedSign.js
  api/routes/officerManager.js
  api/routes/print.js
  api/routes/user.js
  api/util/errorLog.js
  src/Pages/3DPrintingConsole/3DConsole.js
Labels: API, enhancement

#431 Move /register contents into a util file
  api/routes/user.js
  api/util/registerUser.js
Labels: API, enhancement

#480 Rename 3d RPC Client Path
  api/routes/3DPrinter.js
  test/3DPrinting.js
Labels: API, bug

#477 Make header component
  src/Components/Header/Header.css
  src/Components/Header/Header.js
  src/Components/Header/assets/background1.jpg
  src/Pages/2DPrinting/2DPrinting.js
  src/Pages/3DPrinting/3DPrintForm.js
  src/Pages/3DPrintingConsole/3DConsole.js
  src/Pages/EventManager/EventManager.js
  src/Pages/Events/EventList.js
  src/Pages/LedSign/LedSign.js
  src/Pages/Overview/Overview.js
  src/Pages/Profile/MemberView/Profile.jsx
  test/frontend/2DPrinting.test.js
  test/frontend/Header.test.js
Labels: Front End, Refactoring, enhancement

#466 New register benefits
  src/Pages/Login/Login.js
  src/Pages/Login/login.css
  src/Pages/MembershipApplication/MembershipForm.js
  src/Pages/MembershipApplication/MembershipPlan.css
  src/Pages/MembershipApplication/MembershipPlan.js
  src/Pages/MembershipApplication/register-page.css
  test/frontend/MembershipPlan.test.js
Labels: Front End, Refactoring

#474 Improve Admin Navbar Look
  api/package-lock.json
  package-lock.json
  package.json
  src/Components/Navbar/AdminNavbar.js
  src/Components/Navbar/navbar.css
  src/Pages/Events/EventCard.js
  src/Pages/Overview/Overview.css
  src/Pages/Overview/userDashboard.png
  test/frontend/AdminNavbar.test.js
Labels: Front End, enhancement

#485 Add Replacement Class to Existing Server Code
  api/SceHttpServer.js
  api/util/PathParser.js
Labels: API, Refactoring, Testing

#484 Add New Server to Tests & Refactor Token Mocking
  api/index.js
  api/package.json
  api/server.js
  package-lock.json
  package.json
  test/2DPrinting.js
  test/3DPrinting.js
  test/3DPrintingForm.js
  test/Advertisement.js
  test/ErrorLog.js
  test/Event.js
  test/InventoryItem.js
  test/LedSign.js
  test/TokenFunctions.js
  test/mocks/TokenValidFunctions.js
  test/officerManager.js
  test/user.js
  util/testing-utils/tools.js
Labels: API, Refactoring, Testing, enhancement
