Repository SCE-Development/Clark, pull requests merged in 2020-06, with the labels that each got.

#487 Create Mailer API Endpoints
  README.md
  api/SceHttpServer.js
  api/config/config.example.js
  api/mailer/SceGoogleApiHandler.js
  api/mailer/auth.js
  api/mailer/mailer.js
  api/mailer/templates/verification.js
  api/routes/user.js
  package-lock.json
  src/APIFunctions/Profile.js
  src/APIFunctions/mailer.js
  src/Pages/MembershipApplication/MembershipForm.js
  src/Pages/MembershipApplication/VerifyEmail.js
  src/config/config.example.js
Labels: API, enhancement

#492 Membership Plan Page
  src/Pages/MembershipApplication/MembershipPlan.js
Labels: Front End, Refactoring

#473 Create application that handles dev account creation
  api/models/User.js
  api/package.json
  api/util/CreateUserScript.js
  package.json
Labels: API, enhancement

#496 Fixes Lint to Ignore Certain Files
  .eslintignore
  api/SceHttpServer.js
  package-lock.json
  package.json
Labels: Testing

#498 Creating a new util folder for testing
  test/2DPrinting.js
  test/3DPrinting.js
  test/3DPrintingForm.js
  test/Advertisement.js
  test/ErrorLog.js
  test/Event.js
  test/InventoryItem.js
  test/LedSign.js
  test/frontend/MembershipPlan.test.js
  test/frontend/Routing.test.js
  test/frontend/UserProfile.test.js
  test/officerManager.js
  test/user.js
  test/util/mocks/Date.js
  test/util/mocks/TokenValidFunctions.js
  test/util/mocks/react-router-dom.js
  test/util/tools/SceApiTester.js
  test/util/tools/tools.js
Labels: Testing, enhancement

#462 Refactored All Tests with SceApiTester
  test/2DPrinting.js
  test/3DPrinting.js
  test/3DPrintingForm.js
  test/Advertisement.js
  test/ErrorLog.js
  test/Event.js
  test/InventoryItem.js
  test/LedSign.js
  test/officerManager.js
  test/user.js
Labels: API, Testing, enhancement

#491 Isolate Logging Services
  api/SceHttpServer.js
  api/config/config.example.js
  api/logging/ErrorLog.js
  api/logging/SignLog.js
  api/models/SignLog.js
  api/package-lock.json
  api/package.json
  api/routes/3DPrintingForm.js
  api/routes/Event.js
  api/routes/InventoryItem.js
  api/routes/LedSign.js
  api/routes/officerManager.js
  api/routes/user.js
  api/util/errorLog.js
  api/util/logging-helpers.js
  package.json
  src/APIFunctions/LedSign.js
  src/config/config.example.js
  test/ErrorLog.js
  test/LedSign.js
  test/mocks/mock-logging.js
Labels: API, enhancement

#510 Homepage No Longer Has Benefits Section
  src/Components/Benefits/Benefits.js
  src/Components/Benefits/benefits.css
  src/Components/Benefits/card-config.css
  src/Components/Benefits/card-settings.css
  src/Components/Benefits/img/3d-printer.png
  src/Components/Benefits/img/calendar.png
  src/Components/Benefits/img/cart.png
  src/Components/Benefits/img/clock.png
  src/Components/Benefits/img/hardware.png
  src/Components/Benefits/img/locker.png
  src/Components/Benefits/img/monitor.png
  src/Components/Benefits/img/printer.png
  src/Components/Benefits/img/shop.png
  src/Components/Benefits/img/techw.png
  src/Components/Benefits/imgC/3d-printer.png
  src/Components/Benefits/imgC/calendar.png
  src/Components/Benefits/imgC/calendar1.png
  src/Components/Benefits/imgC/cart.png
  src/Components/Benefits/imgC/clock.png
  src/Components/Benefits/imgC/gif.gif
  src/Components/Benefits/imgC/hardware.png
  src/Components/Benefits/imgC/locker.png
  src/Components/Benefits/imgC/monitor.png
  src/Components/Benefits/imgC/printer.png
  src/Components/Benefits/imgC/shop.png
  src/Components/Benefits/imgC/techw.png
  src/Pages/Home/Home.js
Labels: Front End, bug

#503 Add Calendar Event Listing to SceGoogleApiHandler
  api/config/config.example.js
  api/mailer/SceGoogleApiHandler.js
  api/mailer/mailer.js
  api/package.json
Labels: API, enhancement

#502 Fix Console Errors
  src/Components/Navbar/AdminNavbar.js
Labels: bug

#513 Change API Calls to Use RPC Service
  .travis.yml
  api/package-lock.json
  api/package.json
  api/routes/3DPrinter.js
  api/routes/LedSign.js
  api/routes/print.js
  package-lock.json
  package.json
  src/APIFunctions/2DPrinting.js
  src/APIFunctions/3DPrinting.js
  src/APIFunctions/LedSign.js
  src/config/config.example.js
  test/2DPrinting.js
  test/3DPrinting.js
  test/LedSign.js
Labels: API, Refactoring

#520 Fix calendar API errors
  api/mailer/SceGoogleApiHandler.js
  api/mailer/mailer.js
  package-lock.json
  package.json
Labels: API, bug

#518 Optimize Travis Build Script
  .travis.yml
  api/package-lock.json
Labels: Refactoring, Testing

#512 Add PrintLog API and Schema
  api/logging/PrintLog.js
  api/models/PrintLog.js
  test/PrintLog.js
Labels: API, enhancement

#525 Rename user to User
  api/routes/User.js
  src/APIFunctions/User.js
  test/User.js
Labels: API, Refactoring
