Repository SCE-Development/Clark, pull requests merged in 2020-07, with the labels that each got.

#467 Refactor Navbar
  package-lock.json
  src/Components/Navbar/UserNavbar.js
  src/Components/Navbar/navbar.css
  src/Components/Navbar/sce_logo 2.png
  src/Components/Navbar/sce_logo.png
  test/frontend/UserNavbar.test.js
Labels: Front End, Refactoring, Testing

#524 Create Auth API
  api/mailer/SceGoogleApiHandler.js
  api/mailer/Util.js
  api/mailer/auth.js
  api/mailer/mailer.js
  api/mailer/templates/verification.js
  api/routes/Auth.js
  api/routes/User.js
  src/APIFunctions/Auth.js
  src/APIFunctions/User.js
  src/APIFunctions/mailer.js
  src/Pages/Login/Login.js
  src/Pages/MembershipApplication/MembershipForm.js
  src/Pages/MembershipApplication/VerifyEmail.js
  src/index.js
  test/Auth.js
  test/User.js
  test/util/mocks/TokenValidFunctions.js
Labels: API, Refactoring

#528 Refactor api & src subdirectories to use config.json
  .gitignore
  .travis.yml
  api/config/config.example.js
  api/config/config.example.json
  api/google_api/routes/mailer.js
  api/google_api/util/SceGoogleApiHandler.js
  api/main_endpoints/util/logging-helpers.js
  api/main_endpoints/util/passport.js
  api/main_endpoints/util/registerUser.js
  api/main_endpoints/util/token-functions.js
  setup.py
  src/APIFunctions/2DPrinting.js
  src/APIFunctions/3DPrinting.js
  src/APIFunctions/LedSign.js
  src/APIFunctions/mailer.js
  src/Pages/MembershipApplication/GoogleRecaptcha.js
  src/config/config.example.js
  src/config/config.example.json
Labels: API, Front End, Refactoring

#540 Add API Tests for Calendar and Mailer
  api/google_api/email_templates/verification.js
  api/google_api/routes/Calendar.js
  api/google_api/routes/Mailer.js
  src/APIFunctions/Mailer.js
  src/Pages/MembershipApplication/MembershipForm.js
  src/Pages/MembershipApplication/VerifyEmail.js
  test/Calendar.js
  test/Mailer.js
Labels: API, Refactoring, Testing

#529 Added DoorCode backend
  api/main_endpoints/models/DoorCode.js
  api/main_endpoints/routes/DoorCode.js
  test/DoorCode.js
Labels: API, enhancement

#527 Refactor printing page
  package-lock.json
  src/Pages/2DPrinting/2D-printing.css
  src/Pages/2DPrinting/2DComponents.js
  src/Pages/2DPrinting/2DPrinting.js
Labels: Refactoring

#523 Add token generation functionality
  api/google_api/routes/Calendar.js
  api/google_api/routes/Mailer.js
  api/google_api/util/AuthManager.js
  api/google_api/util/SceGoogleApiHandler.js
  api/package.json
  api/util/CreateUserScript.js
  api/util/GenerateTokenScript.js
  api/util/constants.js
  package-lock.json
  package.json
Labels: API, enhancement

#569 Remove unused mock file
  test/mocks/mock-logging.js
Labels: API

#568 Deleted function that causes login issues.
  api/main_endpoints/routes/Auth.js
Labels: bug

#543 Adds Dark Theme Mode
  package-lock.json
  package.json
  src/APIFunctions/dark-theme.js
  src/Components/Navbar/UserNavbar.js
  src/Pages/Overview/SVG.js
  src/index.js
Labels: Front End, enhancement

#556 Add jsdoc comments for printPage api function
  src/APIFunctions/2DPrinting.js
  src/Pages/2DPrinting/2DPrinting.js
Labels: enhancement

#566 Add linting rule
  .eslintrc.json
  api/main_endpoints/routes/Auth.js
  api/main_endpoints/util/registerUser.js
  src/APIFunctions/Event.js
  src/APIFunctions/User.js
  src/APIFunctions/dark-theme.js
  src/Pages/2DPrinting/2DPrinting.js
  src/Pages/EventManager/EventManager.js
  src/Pages/EventManager/EventManagerModal.js
  src/Pages/Events/EventList.js
Labels: enhancement
