Repository SCE-Development/Clark, pull requests merged in 2020-04, with the labels that each got.

#415 Add functionality LED Sign page saves previous input
  api/routes/LedSign.js
  package-lock.json
  src/Pages/LedSign/LedSign.js
  test/LedSign.js
Labels: API, enhancement

#419 Add new ESLint rules
  .eslintrc.json
  api/mailer/auth.js
  api/mailer/mailer.js
  api/routes/LedSign.js
  api/routes/user.js
  api/util/logger.js
  api/util/settings.js
  src/APIFunctions/2DPrinting.js
  src/APIFunctions/3DPrinting.js
  src/APIFunctions/ErrorLog.js
  src/APIFunctions/Event.js
  src/APIFunctions/Profile.js
  src/APIFunctions/User.js
  src/Pages/2DPrinting/2DPrinting.js
  src/Pages/3DPrintingConsole/RequestForm.js
  src/Pages/EventManager/EventManagerModal.js
  src/Pages/Home/Home.js
  src/Pages/LedSign/LedSign.js
  src/Pages/Overview/OverviewProfile.js
  src/Pages/Overview/SVG.js
  src/Pages/TheTeam/TheTeam.js
  src/Routing.js
  test/2DPrinting.js
  test/3DPrintingForm.js
  test/LedSign.js
  test/frontend/ConfirmationModal.test.js
  test/frontend/EventManagerModal.test.js
  test/frontend/MembershipApplication.test.js
  test/frontend/MembershipForm.test.js
  test/frontend/MembershipPlan.test.js
  test/frontend/Routing.test.js
  test/mocks/TokenValidFunctions.js
  test/user.js
Labels: Testing

#418 Limit sign input to 50 characters
  src/Pages/LedSign/LedSign.js
Labels: Front End, enhancement

#413 Refactor and remove callDatabase
  src/Pages/Overview/Overview.css
  src/Pages/Overview/Overview.js
  src/Pages/Overview/OverviewProfile.js
  src/Pages/Overview/SVG.js
  src/Pages/Profile/admin/AdminView.jsx
  test/frontend/AdminView.test.js
Labels: Front End, Refactoring

#421 Remove lint-staged
  package-lock.json
  package.json
Labels: dependencies

#405 Add 3D printing api and testing
  api/index.js
  api/routes/3DPrinter.js
  src/APIFunctions/3DPrinting.js
  test/3DPrinting.js
Labels: API, enhancement

#411 Add Function to Store ErrorLogs
  api/routes/ErrorLog.js
  api/util/errorLog-function.js
Labels: API

#425 Fixes Parameters in ErrorLog
  api/routes/ErrorLog.js
  api/util/errorLog.js
Labels: API, Refactoring

#377 Add Advertisement Schema and API
  api/index.js
  api/models/Advertisement.js
  api/routes/Advertisement.js
  test/Advertisement.js
Labels: API, enhancement

#406 Remove React ionicons
  package-lock.json
  package.json
  src/Pages/Events/EventCard.js
  src/Pages/Events/EventInfoModal.js
  src/Pages/Overview/SVG.js
  test/frontend/EventCard.test.js
  test/frontend/EventInfoModal.test.js
Labels: Front End, Refactoring

#444 Have server listen on a different port when running tests
  api/server.js
Labels: Testing, enhancement

#446 Add Linting to Travis Windows Tests
  .travis.yml
Labels: Testing

#450 Add Doorcode Schema
  api/models/DoorCodes.js
  package-lock.json
Labels: API, enhancement

#448 Add Inventory Backend
  api/index.js
  api/models/InventoryItem.js
  api/routes/InventoryItem.js
  src/Routing.js
  test/Event.js
  test/InventoryItem.js
Labels: API, Testing

#451 Fixes addErrorLog to Have 1 Param
  api/routes/3DPrintingForm.js
  api/routes/Advertisement.js
  api/routes/ErrorLog.js
  api/routes/Event.js
  api/routes/InventoryItem.js
  api/routes/officerManager.js
  api/routes/user.js
  api/util/errorLog.js
Labels: API
