Repository SCE-Development/Clark, pull requests merged in 2021-12, with the labels that each got.

#906 Rewrite emails for vice president and president to main SCE email
  src/Components/Footer/Footer.js
Labels: help wanted

#909 Run GitHub actions on merge
  .github/workflows/node.js.yml
Labels: enhancement, Refactoring, Testing

#912 Fixes eslint package file from preventing start
  package-lock.json
  package.json
  src/Pages/2DPrinting/2DPrinting.js
  src/Pages/3DPrinting/3DPrintForm.js
  src/Pages/3DPrintingConsole/3DConsole.js
  src/Pages/EmailList/SendButtonModal.js
  src/Pages/EventManager/EventManagerModal.js
  src/Pages/Inventory/AddItem/AddItemButtonModal.js
  src/Pages/Inventory/AddItem/AddItemForm.js
  src/Pages/Inventory/EditItem/EditButtonModal.js
  src/Pages/Inventory/EditItem/EditItemForm.js
  src/Pages/Inventory/InventoryPage.js
  src/Pages/Overview/OverviewProfile.js
  src/Routing.js
  test/frontend/ConfirmationModal.test.js
  test/frontend/MembershipApplication.test.js
  test/frontend/MembershipForm.test.js
  test/frontend/MembershipPlan.test.js
  test/frontend/PrintingAnalytics.test.js
  test/frontend/Routing.test.js
Labels: bug, Testing, Front End, dependencies, metaverse

#911 Add user authentication to Printing and LED Sign APIs
  api/main_endpoints/routes/3DPrintingForm.js
  api/main_endpoints/routes/Auth.js
  api/main_endpoints/routes/DoorCode.js
  api/main_endpoints/routes/Event.js
  api/main_endpoints/routes/InventoryItem.js
  api/main_endpoints/routes/User.js
  api/main_endpoints/routes/officerManager.js
  api/util/token-functions.js
  test/TokenFunctions.js
  test/util/mocks/TokenValidFunctions.js
Labels: Refactoring, API, security, metaverse

#916 Optimizes Frontend Docker Build
  docker/Dockerfile-frontend
Labels: Refactoring, Front End

#907 Printing SQS Write + S3 File Upload
  api/config/config.example.json
  api/logging_api/routes/Printer.js
  api/logging_api/server.js
  src/APIFunctions/2DPrinting.js
Labels: API

#908 Using SQS to send writing requests to LED Sign
  api/config/config.example.json
  api/logging_api/routes/LedSign.js
  api/logging_api/server.js
  api/package-lock.json
  api/package.json
  package.json
  src/APIFunctions/LedSign.js
Labels: API

#929 Gitignore update
  .gitignore
Labels: enhancement

#931 Removed mongo_dump.sh from .gitignore
  .gitignore
Labels: enhancement

#930 Rename logging_api directory to perpheral_api
  api/config/config.example.json
  api/devServer.js
  api/main_endpoints/util/logging-helpers.js
  api/package.json
  api/peripheral_api/Dockerfile
  api/peripheral_api/models/ErrorLog.js
  api/peripheral_api/models/PrintLog.js
  api/peripheral_api/models/SignLog.js
  api/peripheral_api/routes/ErrorLog.js
  api/peripheral_api/routes/LedSign.js
  api/peripheral_api/routes/PrintLog.js
  api/peripheral_api/routes/Printer.js
  api/peripheral_api/routes/SignLog.js
  api/peripheral_api/server.js
  docker-compose.yml
  nginx.conf
  src/APIFunctions/2DPrinting.js
  src/APIFunctions/ErrorLog.js
  src/APIFunctions/LedSign.js
  src/config/config.example.json
  test/ErrorLog.js
  test/PrintLog.js
Labels: enhancement

#933 Shows upcoming events on public events page
  api/main_endpoints/routes/Event.js
  src/APIFunctions/Event.js
  src/Pages/Events/EventList.js
  test/Event.js
  test/frontend/EventList.test.js
Labels: Refactoring, API

#935 Removes RPC Instances
  .eslintignore
  .gitignore
  api/config/config.example.json
  nginx.conf
  src/APIFunctions/2DPrinting.js
  src/APIFunctions/3DPrinting.js
  src/APIFunctions/LedSign.js
  src/config/config.example.json
  util/setup-scripts/setup.bat
  util/setup-scripts/setup.sh
Labels: enhancement

#937 Frontend Multistage Docker Build
  docker-compose.yml
  docker/Dockerfile-frontend
  docker/nginx.conf
Labels: Refactoring, Front End

#939 New operator spacing rule for eslint
  .eslintrc.json
  src/APIFunctions/2DPrinting.js
  src/APIFunctions/3DPrinting.js
  src/APIFunctions/Auth.js
  src/APIFunctions/ErrorLog.js
  src/APIFunctions/Event.js
  src/APIFunctions/InventoryItem.js
  src/APIFunctions/LedSign.js
  src/APIFunctions/User.js
  src/Enums.js
  src/Pages/DiscordSJSU/DiscordSJSU.js
  src/Pages/Events/EventList.js
  src/Pages/Inventory/AddItem/AddItemForm.js
  src/Pages/Inventory/EditItem/EditItemForm.js
  src/Pages/Inventory/InventoryPage.js
  src/Pages/Inventory/InventoryRow.js
  src/Pages/MembershipApplication/membershipApplication.jsx
  src/Pages/Profile/admin/AdminView.jsx
  test/Event.js
Labels: metaverse

#936 Adds checks for Google API keys
  api/cloud_api/util/SceGoogleApiHandler.js
  api/config/config.example.json
  src/APIFunctions/Mailer.js
Labels: Refactoring, API
