Repository SCE-Development/Clark, pull requests merged in 2022-07, with the labels that each got.

#1107 Add Turn off LED Button
  src/Pages/LedSign/LedSign.js
  src/Pages/LedSign/led-sign.css
Labels: enhancement, Front End

#1098 Integrate Health Check Tunnel into Peripheral API
  api/peripheral_api/routes/Printer.js
Labels: enhancement, API, metaverse

#1111 Update AdminDashboard UI
  src/Components/Navbar/AdminNavbar.js
  src/Pages/Overview/Overview.js
  src/Pages/Profile/admin/AdminDashboard.css
  src/Pages/Profile/admin/AdminDashboard.js
  src/Routing.js
  test/frontend/AdminDashboard.test.js
  test/frontend/Routing.test.js
Labels: enhancement, Testing, Front End

#1112 Add GitHub and YouTube to footer
  src/Components/Footer/Footer.js
  src/Components/Footer/Icons/GitHubIcon.js
  src/Components/Footer/Icons/YouTubeIcon.js
Labels: enhancement, Front End

#1121 Revert "health check api was moved to healthcheck/printer in quasar"
  api/peripheral_api/routes/Printer.js
Labels: bug, API

#1126 Fix Homepage Bug
  src/Components/Frame/HeroFrame.css
  src/Components/Frame/HeroFrame.js
  src/Pages/Home/home.css
Labels: bug, Front End

#1104 Add endpoints to support Discord printing command
  api/config/config.example.json
  api/main_endpoints/routes/User.js
  api/main_endpoints/util/token-functions.js
  api/peripheral_api/routes/Printer.js
  api/util/token-verification.js
  test/api/User.js
  test/util/mocks/DiscordApiFunction.js
Labels: enhancement, Testing, API

#1128 Fix random things missed in previous PRs
  api/config/config.example.json
  api/main_endpoints/routes/3DPrintingForm.js
  api/main_endpoints/routes/Auth.js
  api/main_endpoints/routes/DoorCode.js
  api/main_endpoints/routes/Event.js
  api/main_endpoints/routes/User.js
  api/main_endpoints/routes/officerManager.js
  api/peripheral_api/Dockerfile
  api/peripheral_api/Dockerfile.dev
  api/util/token-verification.js
  docker-compose.dev.yml
  docker-compose.yml
Labels: bug
