Repository SCE-Development/Clark, pull requests merged in 2022-06, with the labels that each got.

#1094 Fix printer pages reset function
  api/main_endpoints/routes/Auth.js
  api/main_endpoints/routes/User.js
Labels: bug, API

#1096 install inquirer as devDependencies
  package-lock.json
  package.json
Labels: bug, dependencies

#1106 Remove HTTPS from Dev Nginx
  nginx.dev.conf
Labels: Refactoring

#1103 Expired token fix
  api/main_endpoints/routes/Auth.js
Labels: bug, Refactoring, API
