Repository SCE-Development/Clark, pull requests merged in 2022-03, with the labels that each got.

#978 Create RFID Server
  .gitignore
  api/config/config.example.json
  api/package-lock.json
  api/package.json
  api/peripheral_api/models/RFID.js
  api/peripheral_api/routes/RFID.js
  api/peripheral_api/server.js
  api/peripheral_api/util/RFID-helpers.js
  package-lock.json
  package.json
  test/RFID.js
  test/util/tools/SceApiTester.js
  test/util/tools/tools.js
Labels: enhancement, API

#1025 Change Discord Invite
  src/Components/Navbar/UserNavbar.js
Labels: enhancement, help wanted, Front End

#1021 Add support for page range
  api/peripheral_api/routes/Printer.js
Labels: enhancement, API

#976 generate-token script saves refresh_token
  api/cloud_api/util/AuthManager.js
  api/cloud_api/util/SceGoogleApiHandler.js
Labels: bug, Refactoring

#1031 fixing verification issues
  api/main_endpoints/routes/Auth.js
  api/util/token-functions.js
Labels: bug, API

#1027 Make token-verification a REST endpoint
  api/main_endpoints/routes/3DPrintingForm.js
  api/main_endpoints/routes/Auth.js
  api/main_endpoints/routes/DoorCode.js
  api/main_endpoints/routes/Event.js
  api/main_endpoints/routes/InventoryItem.js
  api/main_endpoints/routes/User.js
  api/main_endpoints/routes/officerManager.js
  api/main_endpoints/util/token-functions.js
  api/peripheral_api/routes/RFID.js
  api/util/SceHttpServer.js
  api/util/token-verification.js
  test/Auth.js
  test/Event.js
  test/RFID.js
  test/TokenFunctions.js
  test/util/mocks/TokenValidFunctions.js
Labels: bug, API

#1047 Create SQS API Handler
  api/config/config.example.json
  api/peripheral_api/routes/LedSign.js
  api/peripheral_api/util/SceSqsApiHandler.js
  test/SceSqsApiHandler.js
Labels: Testing, API

#1048 Add token verification to LED Sign
  api/peripheral_api/routes/LedSign.js
  api/util/token-verification.js
  src/APIFunctions/LedSign.js
  src/Pages/LedSign/LedSign.js
  test/LedSign.js
  test/RFID.js
  test/SceSqsApiHandler.js
  test/util/mocks/SceSqsApiHandler.js
Labels: Refactoring, Testing, API, security

#999 added path of /spark to point to https://spark-scesjsu.webflow.io/
  nginx.conf
Labels: enhancement, Front End

#1050 Update Eslint Parser
  .eslintrc.json
  package-lock.json
  package.json
  src/Pages/2DPrinting/2DPrinting.js
  src/Pages/3DPrinting/3DPrintForm.js
  src/Pages/3DPrintingConsole/3DConsole.js
  src/Pages/EmailList/SendButtonModal.js
  src/Pages/EventManager/EventManagerModal.js
  src/Pages/Inventory/AddItem/AddItemButtonModal.js
  src/Pages/Inventory/AddItem/AddItemForm.js
  src/Pages/Inventory/EditItem/EditButtonModal.js
  src/Pages/Inventory/EditItem/EditItemForm.js
  src/Pages/Inventory/InventoryPage.js
  src/Pages/Overview/OverviewProfile.js
  src/Routing.js
  test/frontend/ConfirmationModal.test.js
  test/frontend/MembershipApplication.test.js
  test/frontend/MembershipForm.test.js
  test/frontend/MembershipPlan.test.js
  test/frontend/PrintingAnalytics.test.js
  test/frontend/Routing.test.js
Labels: Refactoring, Testing

#1057 Rename Token Mocking Functions
  test/3DPrintingForm.js
  test/Auth.js
  test/DoorCode.js
  test/Event.js
  test/InventoryItem.js
  test/LedSign.js
  test/RFID.js
  test/User.js
  test/officerManager.js
  test/util/mocks/TokenValidFunctions.js
Labels: Testing, API, security, metaverse

#973 2D and 3D printing pages
  package-lock.json
  package.json
  src/Components/Navbar/UserNavbar.js
  src/Pages/2DPrinting/2D-printing.css
  src/Pages/2DPrinting/2DComponents.js
  src/Pages/2DPrinting/2DPrinting.js
  src/Pages/3DPrinting/3D-print-form.css
  src/Pages/3DPrinting/3DPrintForm.js
  src/Pages/3DPrinting/discord-icon.png
  src/Pages/3DPrinting/gmail-icon.png
  test/frontend/2DPrinting.test.js
Labels: Refactoring, Front End
