Repository SCE-Development/Clark, pull requests merged in 2022-09, with the labels that each got.

#1150 Created edit user page
  api/main_endpoints/routes/User.js
  api/main_endpoints/util/registerUser.js
  src/APIFunctions/User.js
  src/Pages/MembershipApplication/MajorDropdown.js
  src/Pages/Overview/OverviewProfile.js
  src/Pages/Profile/admin/AdminView.jsx
  src/Pages/Profile/admin/EditorForm.js
  src/Pages/Profile/admin/Profile.js
  src/Pages/Profile/admin/editor-form.css
  src/Pages/UserManager/EditUserInfo.js
  src/Pages/UserManager/ExpirationDropdown.js
  src/Pages/UserManager/RoleDropdown.js
  src/Routing.js
  test/api/User.js
  test/frontend/AdminView.test.js
  test/frontend/EditorForm.test.js
  test/frontend/Profile.test.js
Labels: Refactoring, Front End

#1154 Add tests for ExpirationDropdown
  test/frontend/ExpirationDropdown.test.js
  test/util/mocks/Date.js
Labels: Testing, Front End

#1159 Remove Node Modules from docker-compose.dev
  docker-compose.dev.yml
Labels: bug

#1165 Delete files and update membership fees
  public/images/balsamiq.png
  public/images/cisco.png
  public/images/echo3D.png
  public/images/google.png
  public/images/microsoft.png
  public/images/tesla.png
  public/images/xircle.png
  src/Pages/Home/Components/SponsorsLogos.css
  src/Pages/Home/Components/SponsorsLogos.js
  src/Pages/Home/Home.js
  src/Pages/MembershipApplication/MembershipForm.js
Labels: Front End
