Repository SCE-Development/Clark, pull requests merged in 2022-01, with the labels that each got.

#942 Removes Unnecessary Scripts
  package.json
Labels: enhancement

#943 Hides Google Captcha on Membership Form
  src/Pages/MembershipApplication/MembershipForm.js
Labels: enhancement, Refactoring, Front End, metaverse

#938 Removes filtered events function
  src/Pages/Events/EventList.js
  test/frontend/EventList.test.js
Labels: metaverse

#944 Adds checks for S3Bucket Access Keys
  api/cloud_api/util/S3BucketApiHandler.js
  api/config/config.example.json
  api/peripheral_api/routes/Printer.js
Labels: Refactoring, API

#945 Adds checks for Github API Keys
  api/cloud_api/routes/Github.js
  api/config/config.example.json
Labels: Refactoring, API

#946 Fix Create New Event Double Click
  src/Pages/EventManager/EventManagerModal.js
Labels: bug

#947 File upload is disabled when printer is down
  src/Pages/2DPrinting/2DPrinting.js
  src/Pages/2DPrinting/2DPrintingHealthCheck.js
  test/frontend/2DPrinting.test.js
Labels: enhancement, Front End

#948 Adds checks for Discord API Keys
  api/cloud_api/routes/Github.js
  api/cloud_api/util/S3BucketApiHandler.js
  api/config/config.example.json
  api/main_endpoints/routes/User.js
  api/main_endpoints/util/discord-connection.js
  api/peripheral_api/routes/Printer.js
Labels: Refactoring, API

#951 Adds RFID Manager functionalities
  api/peripheral_api/models/RFID.js
  src/APIFunctions/RFID.js
  src/Pages/RFID_Manager/RFIDCard.js
  src/Pages/RFID_Manager/RFIDManager.js
  src/Pages/RFID_Manager/RFIDManagerModal.js
Labels: API, Front End

#961 Fix fakeTimers failing frontend test
  package.json
  test/frontend/2DPrinting.test.js
  test/frontend/UserProfile.test.js
  test/util/mocks/Date.js
Labels: bug, Testing, Front End

#962 Add schema for password reset
  api/main_endpoints/models/password-reset.js
Labels: enhancement, API

#975 Create RFID schema
  api/peripheral_api/models/RFID.js
Labels: enhancement, API

#979 Maps Auth Routes from Array in UserNavbar
  src/Components/Navbar/UserNavbar.js
Labels: enhancement, Front End
